<div style="display: flex; flex-direction: column; height: 100%" class="m-2">

  <div class="d-flex py-1">
    <div class="px-2">      
      <input type="text" id="filter-text-box" placeholder="Global Search..." (input)="onFilterTextBoxChanged()" />
    </div>
    <div class="ms-auto px-2">
      <i style="font-size: 1.5rem; color: cornflowerblue;" (click)="onBtnExport()" class="bi bi-filetype-csv"></i>
    </div>
  </div> 
  <div style="flex: 1 1 0; position: relative">
    <div id="gridContainer">
      <ag-grid-angular style="width: 100%; height: 500px" class="ag-theme-alpine" [rowData]="rowData"
        [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" [sideBar]="sideBarDef" [gridOptions]="gridOptions"
        [suppressMenuHide]="true" [rowDragManaged]="true" [pagination]="true" (gridReady)="onGridReady($event)"
        [pagination]="true" [paginationPageSize]="paginationPageSize"
        [paginationNumberFormatter]="paginationNumberFormatter">
      </ag-grid-angular>
      Page Size:
      <select (change)="onPageSizeChanged()" id="page-size">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="20">20</option>
      </select>
    </div>
  </div>
</div>