<div class="container mt-5">
    <div class="row justify-content-md-center">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">
                        <h2>Login</h2>
                    </h5>
                    <form>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="email">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password">
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="rememberme">
                            <label class="form-check-label" for="rememberme">Remember Me</label>
                        </div>
                        <div class="clearfix mb-3">
                            <button type="submit" class="btn btn-primary float-end">Submit</button>
                        </div>                        
                        <div class="d-flex justify-content-end">
                            <div class="px-1">Forgot Password ?</div>
                            <div class="px-1"> | </div>
                            <div class="px-1">Register</div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>