<div class="chartType"></div>

<div class="row">
    <div class="col-lg-6">
        <h2>Bar Chart</h2>
        <canvas id="barchart"></canvas>
    </div>
</div>

<div class="charts2">
    <div class="col-lg-6">
        <h2>Pie Chart</h2>
        <canvas id="chartTwo"></canvas>
    </div>
</div>

<div class="charts2">
    <div class="col-lg-6">
        <h2>Bubble Chart</h2>
        <canvas id="chartThree"></canvas>
    </div>
</div>

<div class="charts2">
    <div class="col-lg-6">
        <h2>Line Chart</h2>
        <canvas id="chartFour"></canvas>
    </div>
</div>

<div class="charts3">
    <div class="col-lg-6">
        <h2>PolarArea Chart</h2>
        <canvas id="chartFive"></canvas>
    </div>
</div>

<div class="charts3">
    <div class="col-lg-6">
        <h2>Radar Chart</h2>
        <canvas id="chartSix"></canvas>
    </div>
</div>

<div class="charts3">
    <div class="col-lg-6">
        <h2>Doughunt Chart</h2>
        <canvas id="chartSeven"></canvas>
    </div>
</div>