<!-- <hr> -->
<!-- <app-one #onecomp></app-one> -->
<!-- <hr> -->
<!-- <p>two works!</p> -->
<!-- <input type="button" value="twosub" (click)="add()"> -->
<!-- <h3>{{this.tempService.count}}</h3> -->


<!-- <div #tempdiv >
    <p>-------</p>
    <input type="text" ngModel #One />
<!-- {{One.value}}
{{One}} -->
<!-- <button (click)="tempVar(One, tempdiv)">click</button>
<p>{{One.value}}</p>
</div> --> -->
<!-- <input type="button" value="Toggle" (click)="toggle()"> -->
<div>
    <p >-------{{refvar}}</p>
    <input type="text" name="" id="" [(ngModel)]="refvar">
    <hr>
    <app-one></app-one>
</div>


<button (click)="toggle()">Toggle</button>
