<div class="container-fluid">
    <div class="row">
        <div class="col-md">
            <div class="d-flex justify-content-start">
                <i class="bi bi-postcard"></i>&nbsp;info@veradistech.com | &nbsp;
                <i class="bi bi-phone"></i>&nbsp; +917373005550
            </div>
        </div>
        <div class="col-md">
            <div class="d-flex justify-content-end">
                <i class="bi bi-facebook mx-2"></i>
                <i class="bi bi-instagram mx-2"></i>
                <i class="bi bi-pinterest mx-2"></i>
                <i class="bi bi-twitter mx-2"></i>
            </div>
        </div>
    </div>
</div>