
<nav class="navbar navbar-light bg-light">
    <!-- <span class="navbar-text"> -->

      <ul>
        <li>
          <div><p>New Visits</p></div>
          <p><b>51,889</b></p>
        </li>
        <li>
          <div><p>Returning Visits</p></div>
          <p><b>12,229</b></p>
        </li>
        <li>
          <div><p>New Views</p></div>
          <p><b>82,721</b></p>
        </li>
        <li>
          <div><p>Returning Views</p></div>
          <p><b>26,597</b></p>
        </li>
        <li>
          <div><p>Total Views</p></div>
          <p><b>109,318</b></p>
        </li>
      </ul>
    <!-- </span> -->
  </nav>

