ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    float: left;
    color: #070000;
    
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-left: 45px;
  }

  p{
    text-align: center;
    size: 24px;
  }
