
<div class="rtnavbar_contain">
    <div class="rtnavbar">
        <!-- <input type="checkbox" id="nav-check">

        <div class="nav-header">
            <div class="nav-title">
                <img src="media/logo.jpg?v=1716793660" alt="Navbar image">
                <p>MGA Analytics</p>
            </div>
        </div>
        <div class="nav-btn">
            <label for="nav-check">
                <span></span>
                <span></span>
                <span></span>
            </label>
        </div> -->

        <div class="rt_nav_links">
            <div class="nav-links">
            <!-- <a class="" target="_self" href="dashboard.php">Marketing Analytics</a> -->
            <a class="menuactive" target="_self" href="report.php">Sales Dashboard</a>
            <a class="" target="_self" href="list_customer.php">Sales</a>
            <a class="" target="_self" href="dashboard.php">Marketing Dashboard</a>

            <a class="" target="_self" href="builders.php">Builders</a>
            <a class="" target="_self" href="users.php">Users</a>
            <a class="" target="_self" href="logout.php">Logout</a>
            <a class="" target="_self" href="profile.php">Hi, Administrator</a>
            </div>
        </div>


    </div>
</div>