<!-- <h2>Welcome to {{title}}</h2>

<div [hidden]="valueOne">
<div [innerHTML]="count"></div>
<h2 [innerText]="add()"></h2>
</div>
<button (click)="toggle()">Toggle</button> -->


<!-- 
<div *ngIf="rooms.availableRooms>5">
    Rooms Available
</div>

<hr>
<app-one></app-one>

<br><hr>
<app-cars-form></app-cars-form>

<hr>
<app-temp [countvalue]="count" [title]="title" (tempEvent)="dataReceived($event)" (childData)="tempDataTwo($event)" message="sample message"></app-temp>
<p *ngIf="var1">{{var1}} 
</p>
<div *ngIf="value2">{{value2}}</div> -->
<div>
<app-noContent>
    <p title>This is first card content -- Title</p>
    <p body>This is first card content -- Body</p>
    <p default>This is first card content -- Default</p>
</app-noContent>
</div>
<div>
<app-noContent>
    <p title>This is second card content -- Title</p>
    <p body>This is second card content -- Body</p>

</app-noContent>
</div>